<style>
    .mybutton{
        border: thicn;
        height:50px;
        background-color: black;
        color: white;
        font-family: serif;
    }
</style>
<div id="thank-you" class="row">
    <div class="col-lg-12 text-center">
        <h1>Boda Fix <strong>Thank You</strong> for your order</h1>
        <p>Here is your confirmation number.</p>
        <div class="well-cart"><h2>{{order.confirmationNumber}}</h2>
        <script>//alert("In Local Storage"+localStorage.orderkeysuper);</script>
        
        </div>
        <p>Your Order has Been Recieved </p>
        <a href="myorder.html" class="mybutton"><input type="button" value="Continue" class="mybutton"></a>
    </div>
</div>